@using WatchList.Logic.Models;

@model WatchList.WebClient.Models.ListViewModel 

<h1>
    @Model.UOW.Shows.Find(Model.ShowId).Name
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Score
            </th>
            <th>
                Status
            </th>
            <th>
                Episodes Watched
            </th>
            <th>
                Episodes Total
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var season in Model.UOW.Seasons.GetSeasonsInOrder(Model.ShowId)) //makes a table row for every season in the selected show
        {
        <tr>
            <td>
                Season @season.Order
            </td>
            <form asp-action="ChangeSeason" asp-controller="home"> <!-- Form to change information aboutt a season-->
                <td>
                    <select name="ScoreNum">
                        @for (int i = 0; i < 11; i++) //dropdown list will look for an option that matches what's already set in the database and make it the selected option
                        {
                            if (season.Score == i)
                            {
                                <option value="@i" selected="selected">@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    @season.Status
                </td>
                <td>
                    <input type="number" name="EpisodeWatch" value="@season.EpisodesWatched" />
                </td>
                <td>
                    <label>/</label>
                    @season.EpisodeAmt
                </td>
                <td>
                    <input type="number" name="SeasonId" value="@season.SeasonId" hidden="hidden" />
                    <input type="Submit" value="Save" class="btn-dark" />
                </td>
            </form>
            <td>
                <form asp-action="DeleteSeason">
                    <input type="number" name="SeasonId" value="@season.SeasonId" hidden="hidden" />
                    <input type="submit" value="Delete" class="btn-danger" />
                </form>
            </td>
        </tr>
        }
        <tr class="bg-light">
            <form asp-action="AddSeason"> <!-- Form used to add a new season into the already existing list-->
                <td>
                    <label>Season  </label>
                    <input type="number" name="order" value="0" />
                </td>
                <td>
                </td>
                <td>
                    <input type="number" name="showId" value="@Model.ShowId" hidden="hidden" />
                </td>
                <td>
                    <input type="number" name="episodesWatched" value="0" />
                </td>
                <td>
                    <label>/</label>
                    <input type="number" name="episodeAmt" value="0" />
                </td>
                <td>
                </td>
                <td>
                    <input type="submit" class="btn-dark" value="Add" />
                </td>
            </form>
        </tr>
    </tbody>
</table>


