@using WatchList.Logic.Database;
@using WatchList.Logic.Models;

@{
    ViewData["Title"] = "Home Page";
    
}
@model WatchList.WebClient.Models.ListViewModel
@{string[] StatusList = new string[]{"Watching", "Plan To Watch", "Finished"};}


<form asp-action="SearchShow"> <!-- Form to enter search criteria to narrow down results-->
    <label>Sort by Status: </label>
    <select name="statusKey">
        <option value="-1">All</option>
        @for(int i = 0; i < 3; i++)
            {
                if(@Model.StatusKey == i)
                {
                    <option value="@i" selected="selected">@StatusList[i]</option>
                }
                else
                {
                    <option value="@i" >@StatusList[i]</option>
                }
            }
    </select>
    <label> Name: </label>
    <input type="text" name="nameKey" value="@Model.NameKey"/>
    <input type="Submit" value="Search" class="btn-sm btn-dark" />
    <a asp-controller="Home" asp-action="ResetSearch" class="btn-sm btn-dark">Reset</a>
</form>
<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Score
            </th>
            <th>
                Status
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var show in Model.UOW.Shows.GetShowsByStatus(Model.NameKey, Model.StatusKey)) //makes a table row for every show in the database
            {
        <tr>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => show.Name)
            </td>
                <form asp-action="ChangeShowInfo" asp-controller="home"> <!-- Form to change information about the show-->
                    <td>
                        <select name="ScoreNum">
                            @for(int i = 0; i < 11; i++)
                                {
                                    if (show.Score == i)
                                    {
                                        <option value="@i" selected="selected">@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                        </select>
                    </td>
                    <td>
                        <select name="StatusType">
                        
                                @for(int i = 0; i < 3; i++)
                                {
                                    if(show.StatusNum == i)
                                    {
                                        <option value="@i" selected="selected">@StatusList[i]</option>
                                    }
                                    else
                                    {
                                        <option value="@i" >@StatusList[i]</option>
                                    }
                                }
                        </select>
                        <input type="submit" value="Save" class="btn-dark"/>
                        <input type="number" name="ShowId" value="@show.ShowId" hidden="hidden" />
                    </td>
                </form>
                    <td>
                        <form asp-action="ViewSeasons" class="float-left"> <!-- Form to open up the ViewSeasons page for the selected show-->
                            <input type="number" value="@show.ShowId" name="ShowId" hidden="hidden" />
                            <input type="submit" value="View Seasons" class="btn-dark" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteShow" class="float-right"> <!-- Form to delete the show from the database-->
                            <input type="number" hidden="hidden" value="@show.ShowId" name="ShowId" />
                            <input type="Submit" value="Delete" class="btn-danger" />
                        </form>
                    </td>
        </tr>
            }
    </tbody>
</table>